<div class="row mx-auto mt-5">
    <div class="col-sm-12 col-md-8 mx-auto my-auto" style="font-style:italic;text-align:center">
        <div class="card">
            <div class="card-body">
    
                <form action="/" method="POST">

                    <div class="mx-auto">
                        <h4>Welcome to your feed</h4>
                        <h5>search about the topics that interest you</h5>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-4 mt-1 endpoint-col">
                            <div class="input-group">
                                <select class="custom-select" name="endpoint">
                                    {{#if options.endpoint}}
                                      {{#each options.endpoint}}
                                        <option value="{{this.value}}" {{#if this.selected}} selected {{/if}}> {{this.name}}</option>
                                      {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mt-1 keyword-col">
                            <div class="input-group">
                                <input name="keyword" type="text" class="form-control" placeholder="e.g., Bitcoin"  
                                {{#if data.keyword}} value="{{data.keyword}}" {{/if}} required>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mt-1 language-col">
                            <div class="input-group">
                                <select class="custom-select" name="language">
                                    {{#if options.language}}
                                      {{#each options.language}}
                                        <option value="{{this.value}}" {{#if this.selected}} selected {{/if}}> {{this.name}}</option>
                                      {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mt-2 date-col">
                            <div class="input-group">
                                <select class="custom-select" name="date">
                                    {{#if options.date}}
                                      {{#each options.date}}
                                        <option value="{{this.value}}" {{#if this.selected}} selected {{/if}}>{{this.name}}</option>
                                      {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mt-2 sortBy-col">
                            <div class="input-group">
                                <select class="custom-select" name="sortBy">
                                    {{#if options.sortBy}}
                                      {{#each options.sortBy}}
                                        <option value="{{this.value}}" {{#if this.selected}} selected {{/if}}>{{this.name}}</option>
                                      {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mt-2 search-col">
                            <button type="submit" class="btn btn-outline-primary btn-block">Search</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mx-auto mt-5">
    {{#if news}}
    <div class="row">
    {{#each news}}
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-stretch">
      <div class="card mb-3 mr-3 ml-3">
        <img src="{{urlToImage}}" class="card-img-top">
        <div class="card-body mb-5">
            <h5 class="card-title font-weight-bold">{{title}}</h5> <span style="color: grey;">{{source.name}} - {{author}}</span>
            <p class="card-text">{{description}}</p>
        </div>
        <div class="card-footer mt-3" style="position:absolute;bottom:0;width:100%">
            <a href="{{url}}" target="_blank" class="card-link" style="color:green">Read+</a>
            <a href="#" class="card-link" style="color:black">Save <i class="far fa-bookmark"></i></a>
        </div>
      </div>
    </div>
    {{/each}}
    </div>
    {{/if}}
</div>

<div class="row mx-auto mt-5 mb-3">
    <div class="col-sm-12 col-md-6 mx-auto" style="text-align: center;">
      <div class="card">
        <div class="card-body">
            <h1>Contact the Developer</h1>
        <form class="row" action="/contactForm" method="post">
            <div class="input-group col-sm-12 col-md-6">
                <input class="form-control m-3" type="text" name="name" placeholder="Your Name">
            </div>
            <div class="input-group col-sm-12 col-md-6">
                <input class="form-control m-3" type="email" name="email" placeholder="Your Email">
            </div>
            <div class="input-group col-sm-12">
                <textarea class="form-control m-3" name="content" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="input-group col-sm-8 mx-auto">
                <button type="submit" class="btn btn-outline-success btn-block">SEND</button>
            </div>
        </form>
        </div>  
      </div>
    </div>
</div>



<!-- JQuery code to manage inputs behaviour -->
<!-- In both cases when page loads and when endpoint selected value changes -->
<!-- the function "manageInputs" is activated, hiding & showing the necessary inputs for each type of request -->
<script>
    $( document ).ready(function() {
        manageInputs($('select[name="endpoint"]').val())
    });
    
    $('select[name="endpoint"]').on('change', function() {
        manageInputs(this.value)
    });

    function manageInputs(endpoint){
        if(endpoint == 'everything'){
            $('.keyword-col').show()
            $('.date-col').show()
            $('.sortBy-col').show()
            $('input[name="keyword"]').prop('required',true);
        }

        if(endpoint == 'top-headlines'){
            $('.keyword-col').hide()
            $('.date-col').hide()
            $('.sortBy-col').hide()
            $('input[name="keyword"]').prop('required',false);
        }        
    }
</script>