<div class="row mx-auto" style="background-color:#D1D1D1" id="row1">
    <div class="col-sm-12 col-md-6 mx-auto my-auto" style="font-style:italic;text-align:center">
        <h4>Welcome to Ecommerce.</h4>
        <h4>Where you can buy whatever you want.</h4>
        <a href="/users/signup" class="btn btn-outline-success mx-auto m-2">CREATE ACCOUNT</a>
        <a href="/users/login" class="btn btn-outline-success mx-auto m-2">LOGIN</a>
    </div>
</div>

<div class="row mx-auto">
    {{#if news}}
    <div class="row">
    {{#each news}}
    <div class="col-3 d-flex align-items-stretch">
      <div class="card mb-3 mr-3 ml-3">
        <img src="{{urlToImage}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5> <span>{{source.name}} - {{author}}</span>
            <p class="card-text">{{description}}</p>
        </div>
        <div class="card-body mr-auto">
            <a href="{{url}}" class="card-link" style="color:green">Read+</a>
            <a href="#" class="card-link" style="color:black">Save <i class="far fa-bookmark"></i></a>
        </div>
      </div>
    </div>
    {{/each}}
    </div>
    {{/if}}
</div>

<div class="row mx-auto" style="background-color:#A3A3A3;" id="row4">
    <div class="col-sm-12 col-md-6 mx-auto" style="text-align: center;">
        <h1>CONTACT WITH THE DEVELOPER</h1>
        <form class="row" action="/contactForm" method="post">
            <div class="input-group col-sm-12 col-md-6">
                <input class="form-control m-3" type="text" name="name" placeholder="Your Name">
            </div>
            <div class="input-group col-sm-12 col-md-6">
                <input class="form-control m-3" type="email" name="email" placeholder="Your Email">
            </div>
            <div class="input-group col-sm-12">
                <textarea class="form-control m-3" name="content" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="input-group col-sm-8 mx-auto">
                <button type="submit" class="btn btn-success btn-block">SEND</button>
            </div>
        </form>
    </div>
</div>


<style>

@media screen and (min-width: 1025px) {
#row1 { height: 500px; }
#row2 { height: 400px; }
#row3 { height: 500px; }
#row4 { height: 550px; }
}

@media screen and (max-width: 1024px) and (min-width: 700px) {
#row1 { height: 400px; }
#row2 { height: 400px; }
#row3 { height: 500px; }
#row4 { height: 600px; }
}

@media screen and (max-width: 699px) {
#row1 { height: 400px; }
#row2 { height: 500px; }
#row3 { height: 1000px; }
#row4 { height: 700px; }
}

</style>