<div class="row mx-auto mb-5"> 
    {{#if products}}

    <!--- Search products form -->
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-body">
                <form class="row" action="/products/sorting/category&price" method="POST">
                    <div class="col-sm-12 col-md-4 mt-1">
                        <div class="input-group">
                            <select class="form-control" name="category">
                                <option value="all">All Categories</option>
                                <option value="food">Food</option>
                                <option value="music">Music</option>
                                <option value="clothes">Clothes</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 mt-1">
                        <div class="input-group">
                            <select class="form-control" name="price">
                                <option value="all">All Prices</option>
                                <option value="high">High to Low</option>
                                <option value="low">Low to High</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 mt-1">
                        <button type="submit" class="btn btn-outline-primary btn-block">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{#each products}}

    <!--- Each product design -->
    <div class="col-sm-12 col-md-4 col-lg-3 mt-3">
        <a href="/products/showOne/{{_id}}" style="color:black">
            <div class="card m-2">
                <div class="card-body">
                    <div class="card-header">
                        <img class="img-fluid" src="{{imageURL}}">
                    </div>
                    <h3>{{name}}</h3>
                    <h5> ${{price}} </h5>
                    <a href="/products/showOne/{{_id}}" class="btn btn-sm btn-outline-success btn-block mt-2"
                        style="font-size: larger;color:#4BB543">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </a>
    </div>

    {{/each}}
    {{else}}

    <!--- There is not products alert -->
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto mt-5">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Some Error happened... Couldn´t found any products.
        </div>
    </div>

    {{/if}}
</div>